{% extends "public/layout.html" %}

{% block body %}
<table class="table table-striped">
    <caption>
{#        <button type="button", class="btn btn-info" href="{% url 'idc_add' %}" )>添加idc</button>#}
        <a type="button" class="btn btn-primary btn-sm" href="{% url 'idc_add' %}">添加IDC</a> {# 上边的方式不能跳转，下面的方式a标签可以 #}
    </caption>
    <thead>
        <tr>
{#           <th>id</th>#}
           <th>idc字母简称</th>
           <th>idc中文名字</th>
           <th>地址</th>
           <th>机房联系电话</th>
           <th>机房联系email</th>
           <th>机房联系人</th>
        </tr>
    </thead>
    <tbody>
        {% for idc_obj in object_list %}
        <tr>
{#            <td>{{ idc_obj.id }}</td>#}
            <td>{{ idc_obj.name }}</td>
            <td>{{ idc_obj.idc_name }}</td>
            <td>{{ idc_obj.address }}</td>
            <td>{{ idc_obj.phone }}</td>
            <td>{{ idc_obj.email }}</td>
            <td>{{ idc_obj.username }}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm delete" data="{{ idc_obj.id }}">删除</button> {# 这里的button 需要传值给后面的ajax #}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block js %}
    <script>
    $(function(){
        $(".delete").click(function(){
            var click_obj = $(this);
            var idc_id = click_obj.attr("data");
{#            var idc_id = "{{ idc_obj.id }}";#}
            console.log(idc_id);
            $.ajax({
                url: "{% url 'idc_list' %}",
                type: "delete",
{#                data: {"uid": uid, "gid":gid},#}
                data:{"id":idc_id},
                success: function (res) {
                    if (res.status != 0){
                        swal("操作失败", res.errmsg, "error")
                    }else{
                        click_obj.parents("tr").remove();
                        swal("操作成功", '', "success")
                    }
                },
                beforeSend: function (xhr, settings) {
                    var csrftoken = getCookie('csrftoken');
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
            });

        })
    })

    </script>

{% endblock %}