{% extends "public/layout.html" %}

{% block body %}
    <table class="table table-striped">
        <div>
            <a  class="btn btn-info btn-sm" href="{% url 'group_list' %}">返回</a>
            <span class="btn btn-info btn-sm"style="position: absolute; right: 16px;" >当前属组: {{ current_group.name }}</span></div>
        <tr>
            <th>#</th>
            <th>user</th>
            <th>status</th>
            <th>group</th>
            <th>operate</th>
        </tr>
        {% for loop_obj in user_obj %}
            <tr style="font-size: 16px; ">
                <td>{{ forloop.counter }}</td>
                <td>{{ loop_obj.username }}</td>

                {% if loop_obj.is_active  %}
                    <td><span class="glyphicon glyphicon-ok-circle text-success"  style="color: green"></span>正常</td>
                {% else %}
                    <td><span class="glyphicon glyphicon-remove-circle text-warning" style="color: red"></span>禁止</td>
                {% endif %}
                <td><span class="btn btn-success btn-sm" style="margin: 2px; padding: 2px">{{ current_group.name }}</span></td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm del_user" style="margin: 2px; padding: 2px" data='{"uid": "{{ loop_obj.id }}", "gid": "{{ current_group.id }}"}' >删除</button>
                </td>
        {% endfor %}

    </table>
{% endblock %}

{% block js %}
<script>
    $(function () {

       $(".del_user").click(function () {
           var data = $.parseJSON($(this).attr("data"));
           var uid = data.uid;
           var gid = data.gid;
           var group_user_delete = "{% url 'user_modify_group' %}";

           $.ajax({
               url: group_user_delete,
               type: "delete",
               data: {"uid": uid, "gid": gid},
               success: function (res) {
                   if (res.status !=0){
                        swal("操作失败", res.errmsg, "error");

                   }else {
                       swal({
                           "title": "用户删除成功",
                           "text": "",
                           "type": "success"
                       }, function () {
                           setTimeout(function () {
                               window.location.reload();
                           })
                       });
                   }
               },
               beforeSend: function (xhr, settings) {
                    var csrftoken = getCookie('csrftoken');
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
           })

       })

    })
</script>
{% endblock %}