{% extends "public/layout.html" %}

{% block body %}
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>组名</th>
            <th>操作</th>
        </tr>
        {% for group_obj in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ group_obj.name}}</td>
                <td>
                    <a type="button" class="btn btn-primary btn-sm" href="" >成员列表</a>
                    <button type="button" class="btn btn-success btn-sm" >查看权限</button>
                    <a  class="btn btn-info btn-sm" href="#">修改权限</a>
                    <button type="button" class="btn btn-danger btn-sm del_group" groupid="{{ group.id }}">删除</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock%}
