{% extends "public/layout.html" %}

{% block body %}
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>操作</th>
        </tr>
        {% for user_obj in object_list %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <th>{{ user_obj.username }}</th>
                <th>
                        <button type="button", class="btn btn-default" id="remove_user">删除用户</button>                                       
                </th>
            </tr>
        {% endfor %}
    </table>

<div class="modal fade" id="del_user" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
 
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>删除用户</h4>
            </div>
            <div class="modal-body form-inline">
                <button class="btn btn-primary" id="del_user_btn">确认</button>
            </div>
            <div class="modal-footer">
                <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
            </div>
 
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        $(function(){
            $("#remove_user").click(function(){
                    var del_user_modal = ${"#del_user"};
                    del_user_modal("show");

                    $("#del_user_btn").click(function(){
                        console.log()

                        $.ajax({
                            url:"{% url 'user_modify_group' %}",
                            tyep: "delete",
                            data: {name: del_user},
                            success: function(res){
                                if (res.status == 1){
                                swal({
                                    "title": "用户删除成功"，
                                    "text": "",
                                    "type": "success"
                                }, function(){
                                    setTimeout(function(){
                                        window.location.reload();
                                    },100)
                                });
                            }else{
                                swal("操作失败", res.errmsg, "error")
                            }
                        },
                        beforeSend: function (xhr, settings) {                                                                          
                        var csrftoken = getCookie('csrftoken');
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                            }                                 
                        } 

                    }) 
            })
        })
    </script>

{% endblock %}
