{% extends "public/layout.html" %}

{% block body %}
 <table class="table table-striped">
    <thead>
        <tr>
           <th>id</th>
           <th>name</th>
           <th>idc_name</th>
           <th>address</th>
           <th>phone</th>
           <th>用户名</th>
           <th>email</th>
        </tr>
    </thead>
    <tbody>
        {% for data in idc %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.idc_name }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.phone}}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

