{% extends "public/layout.html" %}

{% block body %}
    <table class="table table-striped">
        <caption>
            <button type="button", class="btn btn-default" id="add_group">创建用户组</button>
        </caption>
        <tr>
            <th>#</th>
            <th>组名</th>
            <th>操作</th>
        </tr>
        {% for group_obj in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ group_obj.name }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm users_in_group" groupid="{{ group_obj.id }}">成员列表</button>
                    <button type="button" class="btn btn-success btn-sm" >查看权限</button>
                    <a  class="btn btn-info btn-sm" href="#">修改权限</a>
                    <button type="button" class="btn btn-danger btn-sm del_group" groupid="{{ group_obj.id }}">删除</button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!--添加用户组modal窗-->
    <div class="modal fade" id="create_group" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>添加group</h4>
                </div>
                <div class="modal-body form-inline">
                    <div class="form-group">
                        <label for="exampleInputName2">用户组：</label>
                        <input type="text" class="form-control" id="form_groupname" placeholder="请输入用户组名称" />
                    </div>
                    <button class="btn btn-primary" id="create_group_btn">提交</button>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="users_in_group_modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 id="users_in_group_modal_title"></h4>
                </div>
                <div class="modal-body clearfix" id="user_in_group_body">
                    <div class="col-xs-8">
                        <h4>用户名</h4>
                    </div>
                    <div class="col-xs-4">
                        <h4>操作</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function () {
            //创建用户组
            $("#add_group").click(function(){
                var create_group_modal = $("#create_group");
                create_group_modal.modal("show");

                $("#create_group_btn").click(function(){
                    var group_name = $("#form_groupname").val()
                    console.log(group_name)

                    if (group_name == ""){
                        swal("添加失败", "用户组名不能为空", "error");
                        return false
                    }
                    create_group_modal.modal("hide");
                    $.ajax({
                    url: "{% url 'group_create' %}",
                    type: "post",
                    data: {"name": group_name},
                    success: function (res) {
                        if (res.status == 0){
                            swal({
                                "title": "用户组添加成功",
                                "text": "",
                                "type": "success"
                            }, function(){
                                setTimeout(function(){
                                    window.location.reload();
                                },100)

                            });
                        }else{
                            swal("操作失败", res.errmsg, "error");
                        }

                    },
                    beforeSend: function (xhr, settings) {
                        var csrftoken = getCookie('csrftoken');
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                })
                })
            })
        })

        function getMemberList(gid){
                var group_members_url = "{% url 'group_members' %}"
                var users_in_group_modal = $("#users_in_group_modal")
                users_in_group_modal.modal("show")
                $.get(group_members_url, {'gid': gid}, function(res){
                    if (res.status != 0){
                        swal("操作失败", res.errmsg, "error")
                    } else {
                        var html = '<div class="col-xs-8"><h4>用户名</h4></div>'
                        html += '<div class="col-xs-4"><h4>操作</h4></div>'
                        $.each(res.list_members, function(index, value){
                            html += '<div class="row" style="margin-bottom: 6px">'
                            html += '<div class="col-xs-8"><h4>'+ value.username +'</h4></div>'
                            html += '<div class="col-xs-4"><button type="button" class="btn btn-danger btn-sm del_member" uid="'+ value.id +'" gid="' + gid + '">删除</button></div>'
                            html += '</div>'
                        })
                        $("#user_in_group_body").html(html)
                    }
                })
        }

        $(".users_in_group").click(function(){
            var gid = $(this).attr('groupid')
            getMemberList(gid)
        })

        function delMemberById(){
            $("#user_in_group_body").on('click', '.del_member', function(){
            //$(".del_member").click(function(){
                var uid = $(this).attr('uid')
                var gid = $(this).attr('gid')
                $.ajax({
                    url: "{% url 'group_members_del' %}",
                    type: 'delete',
                    data: {'gid': gid, 'uid': uid},
                    success: function(res){
                        if(res.status != 0){
                            swal("操作失败", res.errmsg, "error")
                        } else {
                            getMemberList(gid)
                        }
                    },
                    beforeSend: function (xhr, settings) {
                        var csrftoken = getCookie('csrftoken');
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                })
            })
        }

        delMemberById()

        $('.del_group').click(function(){
            var gid = $(this).attr('groupid')
            swal({
                title: '确认删除',
                text: '删除后数据无法还原',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: '删除',
                cancelButtonText: '取消',
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function(isConfirm){
                    if (isConfirm) {
                        $.ajax({
                            url: "{% url 'group_del' %}",
                            type: 'delete',
                            data: {'gid': gid},
                            success: function (res) {
                                if (res.status != 0) {
                                    swal("操作失败", res.errmsg, "error")
                                } else {
                                    swal({
                                        "title": "用户组删除成功",
                                        "text": "",
                                        "type": "success"
                                    }, function () {
                                        setTimeout(function () {
                                            window.location.reload();
                                        }, 100)

                                    });
                                }
                            },
                            beforeSend: function (xhr, settings) {
                                var csrftoken = getCookie('csrftoken');
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                                }
                            }
                        })
                    } else {
                        swal("取消", "取消成功", "error")
                    }
                }
            )
        })




    </script>
{% endblock %}