{% extends "public/layout.html" %}

{% block body %}

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>email</th>
        </tr>

        {% for user_obj in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user_obj.username }}</td>
                <td>{{ user_obj.email }}</td>
            </tr>
        {% endfor %}

    </table>

    <!-- 用户分页 -->
    <div class="panel-default">
        <center>
            <ul class="pagination">
                <!-- 首页 -->
                <li><a href="{% url 'user_list' %}?page=1">首页</a></li>

                    <!-- 如果用户有上一页则显示，否则不显示按钮 -->
                    {% if page_obj.has_previous %}
                        <li><a href="{% url 'user_list' %}?page={{ page_obj.previous_page_number }}">上一页</a></li>
                    {% else %}
                        <li class="disabled"><a href="#">上一页</a></li>
                    {% endif %}

                    <!-- 如果当前页数等于光标所在页，则高亮显示当前页按钮 -->
                    {% for p in page_range %}
                        <li {% if page_obj.number == p %} class="active" {% endif %}><a href="{% url 'user_list' %}?page={{ p }}">{{ p }}</a></li>
                    {% endfor %}

                    <!-- 如果用户有下一页，则显示按钮，否则不显示 -->
                    {% if page_obj.has_next %}
                        <li><a href="{% url 'user_list' %}?page={{ page_obj.next_page_number }}">下一页</a></li>
                    {% else %}
                        <li class="disabled"><a href="#">下一页</a></li>
                    {% endif %}

                <!-- 末页 -->
                <li><a href="{% url 'user_list' %}?page={{ page_obj.paginator.num_pages }}">末页</a></li>
            </ul>
        </center>
    </div>


{% endblock %}