{% extends 'public/layout.html' %}

{% block body %}
    <caption>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="search_username" value="{{ search_username }}" class="form-control" >
                </div>
            </div>
          <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </caption>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>user</th>
            <th>email</th>
            <th>status</th>
            <th>last login time</th>
            <th>operate</th>
        </tr>
    </thead>
    <tbody>
        {% for user_line in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user_line.username }}</td>
                <td>{{ user_line.email }}</td>
                <td>
                    {% if user_line.is_active  %}
                        <span class="glyphicon glyphicon-ok-circle text-success"  style="color: green"></span>正常
                    {% else %}
                        <span class="glyphicon glyphicon-remove-circle text-warning" style="color: red"></span>禁止
                    {% endif %}
                </td>
                <td>{{ user_line.last_login| date:"Y-m-d H:i:s" }}</td>
                <td>
                    <div class="btn-group">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            修改
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data='{"uid": "{{ user_line.id }}", "username": "{{ user_line.username }}" }' class="user_to_group">添加到指定组</a></li>
                        </ul>
                    </div>
                    {% if user_line.is_active %}
                        <button type="button" class="btn btn-sm btn-warning modify_user_status" status={{ user_line.is_active|lower  }} data="{{ user_line.id }}">禁用</button>
                    {% else %}
                        <button type="button" class="btn btn-info btn-sm modify_user_status" status={{ user_line.is_active|lower }} data="{{ user_line.id }}">开启</button>
                    {% endif %}
                </div>

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="container">
    <nav aria-label="...">
        <ul class="pagination">
             <li class=""><a href="{% url 'user_list' %}?page=1{{ search_data }}" aria-label="Previous"><span aria-hidden="true">first</span></a></li>

            {% if page_obj.has_previous %}
                <li class=""><a href="{% url 'user_list' %}?page={{ page_obj.previous_page_number }}{{ search_data }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
                <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}

            {% for cpage in page_range %}
                {% if cpage == page_obj.number %}
                    <li class="active"><a href="{% url 'user_list' %}?page={{ cpage }}{{ search_data }}">{{ cpage }}</a></li>
                {% else %}
                    <li class=""><a href="{% url 'user_list' %}?page={{ cpage }}{{ search_data }}">{{ cpage }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class=""><a href="{% url 'user_list' %}?page={{ page_obj.next_page_number }}{{ search_data }}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
            {% else %}
                <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}

            <li class=""><a href="{% url 'user_list' %}?page={{ page_obj.paginator.num_pages }}{{ search_data }}" aria-label="Previous"><span aria-hidden="true">last</span></a></li>
        </ul>
    </nav>
</div>

<div class="modal fade" id="user_to_group_modal" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 id="user_to_group_modal_title"></h4>
            </div>
            <div class="modal-body clearfix">
                <div class="col-xs-8" id="select_service_id">
                    <select class="chosen-select chosen-transparent form-control" id="all_user_group">
                    </select>
                </div>
                <button class="btn btn-primary" id="user_to_group_btn">提交</button>
            </div>
            <div class="modal-footer">

                <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
$(function () {
    $(".modify_user_status").click(function () {
        uid = $(this).attr("data");
        console.log(uid);
        $.ajax({
            url: "{% url 'modify_user_status' %}",
            type: "post",
            data: {"uid": uid},
            success: function (res) {
                if (res.status == 0){
                    window.location.reload();
                }else {
                    swal("操作失败", res.merrsg, "error");
                }
            },
            beforeSend: function (xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
    });

    var uid;
    var user_to_group_modal = $("#user_to_group_modal");
    var all_user_group = $("#all_user_group");
    var user_group_url = "{% url 'modify_user_group' %}";
    $(".user_to_group").click(function () {
        var data = $.parseJSON($(this).attr("data"));
        uid = data.uid;
        $("#user_to_group_modal_title").html("将用户 <b>" + data.username + "</b> 添加到指定组里");
        user_to_group_modal.modal("show");
        $.get(user_group_url, {'uid': uid}, function(res){
            console.log(res);
            html = "<option value=0 >请选择用户组</option>";
            $.each(res, function(i, obj){
                html += '<option value="'+ obj.id +'"> '+obj.name+'</option>';
            });
            all_user_group.html(html);
            $('#all_user_group_chosen').css('width','100%');
            all_user_group.trigger("chosen:updated")
        });
        return false;
    });

    $("#user_to_group_btn").click(function(){
        groupid = all_user_group.val();
        console.log("groupid:"+groupid);
        user_to_group_modal.modal('hide');
        $.ajax({
            url: user_group_url,
            type: "put",
            data: {"uid": uid, "gid": groupid},
            success: function (res) {
                if (res.status != 0){
                    swal("操作失败", res.errmsg, "error")
                }else{
                    swal("操作成功", '', "success")
                }
            },
            beforeSend: function (xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

    });

})
</script>
{% endblock %}