{% extends "public/layout.html" %}

{% block body %}

    <table class="table table-bordered">
        <caption>
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="search_idcname" value="{{ search_idcname }}" class="form-control" placeholder="idcname">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button", class="btn btn-primary" id="add_idc_btn"><a href="{% url "idc_add" %}">创建机房</a></button>
            </form>
        </caption>
        <thead>
        <tr>
            <th>#</th>
            <th>NAME</th>
            <th>IDC_NAME</th>
            <th>ADDRESS</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>CONTACT></th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        {% for idc_obj in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ idc_obj.name }}</td>
            <td>{{ idc_obj.idc_name }}</td>
            <td>{{ idc_obj.address }}</td>
            <td>{{ idc_obj.phone }}</td>
            <td>{{ idc_obj.email }}</td>
            <td>{{ idc_obj.username }}</td>
            <td>
                <div class="btn-group">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            修改
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <!--
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data='{"uid": "{{ idc_obj.id }}", "username": "{{ idc_obj.username }}"}' class="user_to_group">添加到指定组</a></li>
                        -->
                        </ul>
                    </div>
                </div> 
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock  %}
{% block js %}
    <script>

    </script>
{% endblock %}
