{% extends "public/layout.html" %}

{% block body %}
<h4 id="group_name_title"></h4>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>USERNAME</th>
        <th>EMAIL</th>
        <th>ACTION</th>
    </tr>
    {% for user_obj in group_user_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ user_obj.username }}</td>
        <td>{{ user_obj.email }}</td>
        <td>
            <button type="button" class="btn btn-danger btn-sm delete_user_from_group" data='{"user_id": "{{ user_obj.id }}", "group_id":"{{ gid }}"}'>删除</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block js %}
<script>

    // 从指定组中删除用户

    $(function () {
        $(".delete_user_from_group").on('click', function () {
            var data = $.parseJSON($(this).attr("data"));
            var uid = data.user_id;
            var gid = data.group_id;
            var user_group_url = "{% url 'user_modify_group' %}";
            console.log(gid);

            $.ajax({
                url: user_group_url,
                type:"delete",
                data:{"uid":uid, "gid":gid},
                success: function(res){
                    if (res.status != 0){
                        swal("操作失败", res.errmsg, "error")
                    }else{
                        swal("操作成功", '', "success")
                    }},
                    beforeSend: function (xhr, settings) {
                         var csrftoken = getCookie('csrftoken');
                         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                             xhr.setRequestHeader("X-CSRFToken", csrftoken)
                         }
                    }
            });
            window.location.reload();
        })
    });


</script>

{% endblock %}