<!--显示组成员的modal-->
<div class="modal fade" id="show_group_users_modal" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">

            <div class="modal-header" id="group-name-title">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>{{ group_name }}组用户列表：</h4>
            </div>
            <div class="modal-body form-inline" id="show-body">
                 <table  class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>用户名</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in user_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user.username }}</td>

                            <td class="status">
                            {% if user.is_active %}
                                <span class="glyphicon glyphicon-ok-circle text-success"></span>正常
                            {% else %}
                                <span class="glyphicon glyphicon-warning-sign text-warning"></span>禁止
                            {% endif %}


                            </td>
                            <td><button type="button" class="btn btn-danger btn-sm del_group delete_group_user" groupname="{{ group_name }}" username="{{ user.username }}" onclick=delete_group_user(this)>删除</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                 </table>

            </div>
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>



