{% extends "public/layout.html" %}

{% block body %}

    <table class="table table-bordered">
        <caption>
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="search_username" value="{{ search_username }}" class="form-control" placeholder="username">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </caption>
        <thead>
        <tr>
            <th>#</th>
            <th>USERNAME</th>
            <th>STATUS</th>
            <th>EMAIL</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        {% for user_obj in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user_obj.username }}</td>
            <td>{% if user_obj.is_active %}
                    <span class="glyphicon glyphicon-ok-circle text-info" aria-hidden="true">正常</span> 
                {% else %}
                    <span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true">禁用</span> 
                {% endif %}
            </td>
            <td>{{ user_obj.email }}</td>
            <td>
                <div class="btn-group">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            修改
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data='{"uid": "{{ user_obj.id }}", "username": "{{ user_obj.username }}"}' class="user_to_group">添加到指定组</a></li>
                        </ul>
                    </div>
                    {% if user_obj.is_active %}
                        <button type="button" class="btn btn-sm btn-warning modify_user_status" status={{ user_obj.is_active|lower  }} data="{{ user_obj.id }}">禁用</button>
                    {% else %}
                        <button type="button" class="btn btn-info btn-sm modify_user_status" status={{ user_obj.is_active|lower }} data="{{ user_obj.id }}">开启</button>
                    {% endif %}
                </div> 
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <center>
        <ul class="pagination">
            <li><a href="{% url 'user_list' %}?page=1{{ search_data }}">首页</a></li>
            {% if page_obj.has_previous %}
                <li><a href="{% url 'user_list' %}?page={{ page_obj.previous_page_number }}{{ search_data }}">上一页</a></li>
            {% else %}
                <li class="disabled"><a>上一页</a></li>
            {% endif %}
            {% for p in page_range %}
                {% if p == page_obj.number %}
                    <li class="active"><a href="{% url 'user_list' %}?page={{ p }}{{ search_data }}">{{ p }}</a></li>
                {% else %}
                    <li><a href="{% url 'user_list' %}?page={{ p }}{{ search_data }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="{% url 'user_list' %}?page={{ page_obj.next_page_number }}{{ search_data }}">下一页</a></li>
            {% else %}
                <li class="disabled"><a>下一页</a></li>
            {% endif %}
            <li><a href="{% url 'user_list' %}?page={{ page_obj.paginator.num_pages }}{{ search_data }}">末页</a></li>
            <li><a href="#">共{{ page_obj.paginator.num_pages }}页</a></li>
        </ul>
        </center>
    </div>
    <div class="modal fade" id="user_to_group_modal" aria-hidden="true">
       <div class="modal-dialog">
           <div class="modal-content">

               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 id="user_to_group_modal_title"></h4>
               </div>
               <div class="modal-body clearfix">
                   <div class="col-xs-8" id="select_service_id">
                       <select class="chosen-select chosen-transparent form-control" id="all_user_group">
                       </select>
                   </div>
                   <button class="btn btn-primary" id="user_to_group_btn">提交</button>
               </div>
               <div class="modal-footer">

                   <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="确定">
               </div>
           </div>
       </div>
    </div>

{% endblock  %}
{% block js %}
    <script>

        function change_user_status(status_td_obj, status){
            if (status == "true"){
                status_td_obj.html('<span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true">禁用</span>')
            }else{
                status_td_obj.html('<span class="glyphicon glyphicon-ok-circle text-info" aria-hidden="true">正常</span>')
            }
        }

        $(function(){
            // 1 找到用户修改的按钮,绑定点击事件
            $(".modify_user_status").on('click', function(){
            
                // 2 获取被点击的用户id
                var click_obj = $(this);
                var uid = click_obj.attr("data");
                var status = click_obj.attr("status");
                // 3 发起ajax请求，get/post/put 修改用户状态
                $.ajax({
                    url:"{% url 'user_modify_status' %}", 
                    type:"post",
                    data: {"uid":uid},
                    success:function(res){

                        if (res.status == 0){
                            // 4 修改后状态变化
                            // 4.1 刷新
                            window.location.reload();

                            // 4.2 修改HTML
                            //if (status == "true"){
                            //    click_obj.attr("status", "false").text("开启")
                            //    click_obj.removeClass("btn-danger").addClass("btn-info")
                            //}else{
                            //    click_obj.attr("status", "false").text("禁用")
                            //    click_obj.removeClass("btn-info").addClass("btn-danger")
                            //}
                            //var status_obj = click_obj.parents("td").siblings(".status")
                            //change_user_status(status_obj, status)

                        }else{
                            swal("操作失败", res.errmsg, "error");
                        }
                    },
                    // 开启csrf的第二种方式，第一种在Login.html 中定义{{ csrf }}
                    beforeSend: function (xhr, settings) {
                         var csrftoken = getCookie('csrftoken');
                         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                             xhr.setRequestHeader("X-CSRFToken", csrftoken)
                         }
                    }
                });
            });
            // 将用户添加到指定组
            var uid;
            var user_to_group_modal = $("#user_to_group_modal");
            var all_user_group = $("#all_user_group");
            var user_group_url = "{% url 'user_modify_group' %}";
            $(".user_to_group").on('click', function(){
                var data = $.parseJSON($(this).attr("data"));
//                console.log(data);
                uid = data.uid;
                $("#user_to_group_modal_title").html("将用户 <b>" + data.username + "</b> 添加到制定组");
                user_to_group_modal.modal('show');
                $.get(user_group_url, {"uid":uid}, function(res){
                    html = "<option value=0> 请选择用户组</option>";
                    $.each(res, function(i, obj){
                        html += '<option value="' + obj.id + '">'+obj.name + '</option>'; 
                    });
                    all_user_group.html(html);
                    $("#all_user_group_chosen").css('width', '100%');
                    all_user_group.trigger("chosen:updated")
                });
                return false;
            });
            // 将用户添加到指定组
            $("#user_to_group_btn").click(function(){
                groupid = all_user_group.val();
                $.ajax({
                    url: user_group_url,
                    type:"put",
                    data:{"uid":uid, "gid": groupid},
                    success: function(res){
                        if (res.status != 0){
                            swal("操作失败", res.errmsg, "error")
                        }else{
                            swal("操作成功", '', "success")
                        }},
                        beforeSend: function (xhr, settings) {
                             var csrftoken = getCookie('csrftoken');
                             if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                 xhr.setRequestHeader("X-CSRFToken", csrftoken)
                             }
                        }
                })

            });


        });
    </script>
{% endblock %}
