{% extends "public/layout.html" %}

{% block body %}
    <table class="table table-striped">
        <caption>
           <p>IDC列表</p>
        </caption>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>idc_name</th>
            <th>address</th>
            <th>phone</th>
            <th>email</th>
            <th>username</th>
            <th>操作</th>
        </tr>
        {% for group_obj in idclist %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ group_obj.name }}</td>
                <td>{{ group_obj.idc_name }}</td>
                <td>{{ group_obj.address }}</td>
                <td>{{ group_obj.phone }}</td>
                <td>{{ group_obj.email }}</td>
                <td>{{ group_obj.username }}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm del_idc" idc_id="{{ group_obj.id }}">删除</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block js %}
    <script>
    $(function () {
        $(".del_idc").click(function () {
            var idcid = $(this).attr("idc_id");
            $.ajax({
                url: "{% url 'idc_delete' %}",
                type: "delete",
                data: {"idcid": idcid},
                success: function (res) {
                       if (res.status == 0) {
                           swal({
                               "title": "删除成功",
                               "text": "",
                               "type": "success"
                           }, function () {
                               setTimeout(function () {
                                   window.location.reload();
                               }, 100)
                           });
                       } else {
                           swal("删除失败", res.errmsg, "error");
                       }
                },
                beforeSend: function (xhr, settings) {
                    var csrftoken = getCookie('csrftoken');
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
            });
        })

    })
    </script>
{% endblock %}