{% extends "public/layout.html" %}

{% block body %}
    <a type="button" class="btn btn-primary btn-sm" href="{% url 'group_list' %}" >返回</a>
    <table class="table table-striped">
        <caption>
            <h3 align="center">用户组 {{ group_obj.name }} 的成员列表</h3>
        </caption>
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>email</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {% for user in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.username }}</td>
                <td> {{ user.email }}</td>
                <td class="status">
                    {% if user.is_active %}
                        <span class="glyphicon glyphicon-ok-circle text-success" aria-hidden="true"></span>正常
                    {% else %}
                        <span class="glyphicon glyphicon-warning-sign text-warning" aria-hidden="true"></span>禁止
                    {% endif %}
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm del_user" groupid="{{ group_obj.id }}" userid="{{ user.id }}" >删除</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block js %}
    <script>
        $(function() {
            $(".del_user").click(function() {
                var click_obj = $(this);
                var uid = click_obj.attr("userid");
                var gid = click_obj.attr("groupid");
                //console.log(uid);
                //console.log(gid);
                $.ajax({
                    url: "{% url 'user_modify_group' %}",
                    type: "delete",
                    data: {"uid": uid, "gid": gid},
                    success: function(res) {
                        if (res.status != 0){
                            swal("操作失败", res.errmsg, "error")
                        }else{
                            click_obj.parents("tr").remove()  //动态删除html
                            swal("操作成功", '', "success")
                            //window.location.reload();
                        }
                    },
                    beforeSend: function (xhr, settings) {
                        var csrftoken = getCookie('csrftoken');
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}